

/* General styles applied to all screens */
.title {
    text-align: center;
}

.weather-block {
    border-top: none;
    border: 1px solid lightgray;
}

.forecast-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
  
  /* Mobile Styles */
  @media (max-width: 575.99px) {
    #weather-icon {
        width: 50px;
    }

    .weather-pic {
        width: 50px;
    }

    .weather-block {
        width: 100%;
    }

    .weather-desc {
        width: 100px;
        text-align: center;
    }

    .weather-temp {
        padding: 10px;
        width: 40px;
    }

    .forecast-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
    }

    .day-box {
        width: 85px;
        padding: 10px;
    }

    .hourly-block {
        border: 1px solid lightgray;
        border-bottom: none;
        display: flex;
        overflow-x: auto;
        width: 100%;
    }

    .hourly-column {
        border-right: 1px solid lightgray;
        display: flex;
        flex-direction: column;
        width: 20%;
        padding: 10px;
        text-align: center;
        align-items: center;
        font-size: 12px;
    }

    .tempMin {
        color: gray;
    }

    .current-block {
        display: flex;
        justify-content: center;
        
    }

    .home-block {
        border: 1px solid lightgray;
        border-radius: 2px;
    }

    .current-weather {
        display: flex;
    }

    .left-div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .right-div {
        display: flex;
        justify-content: flex-end;
    }

    #popLink, #windLink, #tempLink {
        text-decoration: none;
        color: black;
    }

    .nav-link:active {
        color: black;
    }

    .nav-underline{
        justify-content: center;
        padding: 10px;
    }

    .all-current {
        text-align: center;
    }

    .home-current {
        display: flex;
        justify-content: space-between;
    }

    .location-name {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 25px;
    }

    .temp-div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px 0px;
    }

    .icon-div {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
    }

    .big-desc {
        color: gray;
    }

    .big-icon {
        width: 100px;
    }

    .big-temp {
        font-size: 40px;
    }

    .degree {
        font-size: 20px;
    }

    
  }
  
  /* Tablet Styles */
  @media (min-width: 768px) and (max-width: 991.99px) {
   
  }
  
  /* Desktop Styles */
  @media (min-width: 992px) {
  
  }
