

/* General styles applied to all screens */
.title {
    text-align: center;
}

.weather-block {
    border: 1px solid;
}

.forecast-row {
    display: flex;
    align-items: center;
}
  
  /* Mobile Styles */
  @media (max-width: 575.99px) {
    #weather-icon {
        width: 50px;
    }

    .weather-pic {
        width: 50px;
    }

    .weather-block {
        width: 100%;
    }

    .weather-desc {
        width: 100px;
        text-align: center;
    }

    .weather-temp {
        padding: 10px;
        width: 40px;
    }

    .forecast-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
    }

    .day-box {
        width: 85px;
        padding: 10px;
    }

    .hourly-block {
        border: 1px solid black;
        display: flex;
        overflow-x: auto;
        width: 100%;
    }

    .hourly-column {
        border: 1px solid;
        display: flex;
        flex-direction: column;
        width: 80px;
        padding: 10px;
        text-align: center;
        align-items: center;
        font-size: 12px;
    }

    .current-block {
        display: flex;
        justify-content: center;
    }

    .current-weather {
        display: flex;
        align-items: center;
    }

    .all-current {
        text-align: center;
    }

    .big-icon {
        width: 100px;
        height: 100px;
    }

    .big-temp {
        font-size: 40px;
    }

    .degree {
        font-size: 20px;
    }

    .big-desc {
        color: gray;
    }

    
  }
  
  /* Tablet Styles */
  @media (min-width: 768px) and (max-width: 991.99px) {
   
  }
  
  /* Desktop Styles */
  @media (min-width: 992px) {
  
  }
