{% extends 'layout.html' %}

{% block body %}
<form action="/" method="post" class="locationForm">
    <input name="location" class="locationName" placeholder="search location">
    <button class="btn btn-secondary">Search</button>
</form>

{% if locations %}
    {% for location in locations %}
        <ol>
            <li><a href="{{ url_for('location_page', location_name=location.city) }}">{{ location.city }}</a></li>
            <li>{{ location.temperature }}</li>
            <li>{{ location.weather_description }}</li>
            <li>{{ location.time }}</li>
            <img src="http://openweathermap.org/img/wn/{{ location.icon }}.png" alt="Weather Icon">
        </ol>
    {% endfor %}
{% else %}
        <p>No Locations to Display</p>
{% endif %}
{% endblock %}