{% extends 'layout.html' %}

{% block body %}
<form action="/" method="post" class="locationForm">
    <input name="location" class="locationName" placeholder="search location">
    <button class="btn btn-secondary">Search</button>
</form>

{% if locations %}
    <div class="home-block">
        {% for location in locations %}
            <div class="home-current">
                <div class="left-div">
                    <a class="location-name" href="{{ url_for('location_page', location_name=location.city) }}">{{ location.city }}</a>
                    <p class="big-desc">{{ location.time }}</p>
                    <p class="big-desc">{{ location.weather_description }}</p>
                </div>
                <div class="right-div">
                    <div class="icon-div">
                        <img class="big-icon" src="http://openweathermap.org/img/wn/{{ location.icon }}.png" alt="Weather Icon">
                    </div>
                    <div class="temp-div">
                        <p class="big-temp"><b>{{ location.temperature }}</b></p>
                        <p class="degree">°F</p>
                        <p>{{ location.tempmax }}</p>
                        <p>{{location.tempmin }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
        <p>No Locations to Display</p>
{% endif %}
{% endblock %}