{% extends 'layout.html' %}

{% block body %}

<h1>Weather Today</h1>
{% if location %}
    {% for loc in location %}
        <ol>
            <li>{{ loc.city }}</li>
            <li>{{ loc.temperature }}</li>
            <li>{{ loc.weather_description }}</li>
            <img src="http://openweathermap.org/img/wn/{{ loc.icon }}.png" alt="Weather Icon">
        </ol>
    {% endfor %}
{% else %}
        <p>No Information to Display</p>
{% endif %}

<h1>7-Day Forecast</h1>
    {% if forecast %}
        {% for fore in forecast %}
            <ol>
                <li>{{ fore.city }} hey</li>
                <li>{{ fore.forecast_day }}</li>
                <img src="https://openweathermap.org/img/wn/{{ fore.forecast_symbol }}@2x.png" alt="Weather Icon">
                <li>{{ fore.forecast_name }}</li>
                <li>{{ fore.forecast_tempmax }}</li>
                <li>{{ fore.forecast_tempmin }}</li>
            </ol>
        {% endfor %}
    {% else %}
            <p>No Forecast to Display</p>
    {% endif %}

    <h1>Hourly</h1>
    {% if hourly %}
        {% for hour in hourly %}
            <ol>
                <li>{{ hour.city }} hey</li>
                <li>{{ hour.forecast_hour }}</li>
                <img src="https://openweathermap.org/img/wn/{{ hour.hourly_symbol }}@2x.png" alt="Weather Icon">
                <li>{{ hour.hourly_name }}</li>
                <li>{{ hour.hourly_temp }}</li>
            </ol>
        {% endfor %}
    {% else %}
            <p>No Hourly Date to Display</p>
    {% endif %}
{% endblock %}